In [1]:
import pandas as pd 
import sqlalchemy
from sqlalchemy import create_engine
import pymysql
import mysql.connector
import json
from config import mongoConn, remote_db_endpoint, remote_db_port, remote_db_name, remote_db_user, remote_db_pwd

In [2]:
#MySQLdb insert connection
conn = pymysql.connect(host=f'{remote_db_endpoint}',
                             user=remote_db_user,
                             password=remote_db_pwd,
                             db=remote_db_name)
mycursor = conn.cursor()

In [13]:
sql = """
SELECT Service_Name, Service_Id FROM streamingservices;
""" 
mycursor.execute(sql )
df = pd.DataFrame(mycursor) 
df = df.rename(columns={0:'Service_Name', 1:'Service_Id'})
df

      Service_Name  Service_Id
0          Crackle           1
1      Crunchyroll           2
2          IMDb TV           3
3          Peacock           4
4             Plex           5
..             ...         ...
73             DIY          74
74    Food Network          75
75            HGTV          76
76             TCM          77
77  Travel Channel          78

[78 rows x 2 columns]

In [ ]:
conn.commit()